.designProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 74vh;
    width: 100vw;
}
p {
    color:black;
    font-weight: bold;
}