.designMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 74vh;
    width: 100vw;
}

.designRooster {
    display: flex;
    flex-wrap: wrap;


}

.designRooster>*{
    flex-basis: 25%;
}